$sc:50;
@font-face {
  font-family: 'iconfont';
  src: url('../img/fontcol/iconfont.eot');
  src: url('../img/fontcol/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../img/fontcol/iconfont.woff') format('woff'),
  url('../img/fontcol/iconfont.ttf') format('truetype'),
  url('../img/fontcol/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
*{
    margin: 0;
    padding: 0;  
}
html{
    width: 100%;
    height: 100%;
    body{
        @extend html;
        background: #F4F4F4;
        .container{
            @extend html;
            header{
                width: 100%;
                height: 88/$sc+rem;
                background: #148AD2;
                color: #FFFFFF;
                position: fixed;
                top: 0;
                div{
                    float: left;
                    font-size: 35/$sc+rem;
                    margin-top: 28/$sc+rem;
                    margin-left: 24/$sc+rem;
                }
                h1{
                    float: left;
                    font-size: 31/$sc+rem;
                    margin-top: 26/$sc+rem;
                    margin-left: 240/$sc+rem;
                }
                p{
                   float: right;
                   font-size: 28/$sc+rem;
                   margin-top: 28/$sc+rem;
                   margin-right: 60/$sc+rem;
                }
            }
            nav{
                width: 100%;
                height: 80/$sc+rem;
                background: #FFFFFF;
                position: fixed;
                top: 88/$sc+rem;
                div{
                    text-align: center;
                    float: left;
                    width: 50%;
                    height: 100%;
                    font-size: 26/$sc+rem;
                    p{
                        margin-top: 26/$sc+rem;
                    }
                }
                & div:nth-child(1){
                    color: #1389cf;
                }
            }
            section{
                @extend html;
                padding-top: 200/$sc+rem;
                overflow-y: auto;
                ul{
                    @extend html;
                    list-style: none;
                    & li:nth-child(1){
                        width: 100%;
                        height: 221/$sc+rem;
                        border-bottom: solid 1px #e6e6e6;
                        .im_1{
                            float: left;
                            width: 226/$sc+rem;
                            height: 181/$sc+rem;
                            margin-top: 20/$sc+rem;
                            margin-left: 24/$sc+rem;
                            border-radius: 10%;
                            background: url(../img/lian.jpg);
                            background-size: cover;
                        }
                        .im_2{
                            float: right;
                            width: 457/$sc+rem;
                            margin-right: 28/$sc+rem;
                            p{
                                width: 100%;
                                height: 86/$sc+rem;
                                font-size: 30/$sc+rem;
                                line-height: 45/$sc+rem;
                                letter-spacing: 5/$sc+rem;
                                margin-top: 37/$sc+rem;
                            }
                        }
                        .im_3{
                            float: left;
                            width: 457/$sc+rem;
                            height: 20/$sc++rem;
                            margin-top: 32/$sc+rem;
                            color: #a0a0a0;
                            margin-left: 19/$sc+rem;
                            .iconfont{
                                float: left;
                                height: 100%;  
                                font-size: 18/$sc+rem;
                            }
                            p{
                                float: left;
                                font-size: 17/$sc+rem;
                                margin-left: 8/$sc+rem;
                            }
                            .right{
                                float: left;
                                width: 160/$sc+rem;
                                height: 100%;
                                margin: 0;
                                text-align: right;
                                margin-left: 130/$sc+rem;
                                & div:first-child{
                                    float: left;
                                    margin-top: 4/$sc+rem;
                                }
                                .rightic{
                                    float: left;
                                    margin-left: 28/$sc+rem;
                                }
                                p{
                                    float: left;
                                    margin-left: 10/$sc+rem;
                                    font-size: 16/$sc+rem;
                                }
                            }
                        }
                    }
                    & li:nth-child(2){
                        width: 100%;
                        height: 305/$sc+rem;
                        border-bottom: solid 1px #e6e6e6;
                        .top{
                            margin-top: 22/$sc+rem;
                            font-size: 28/$sc+rem;
                            margin-left: 24/$sc+rem;
                        }
                        ul{
                            margin-top: 11/$sc+rem;
                            margin-left: 24/$sc+rem;
                            width: 702/$sc+rem;
                            height: 181/$sc+rem;
                            display: flex;
                            justify-content: space-around;
                            & li:nth-child(1){
                                width: 226/$sc+rem;
                                height: 100%;
                                background: url(../img/ma_1.jpg);
                                background-size: cover;
                                border-radius: 10%;
                            }
                            & li:nth-child(2){
                                width: 226/$sc+rem;
                                height: 100%;
                                background: url(../img/ma_2.jpg);
                                background-size: cover;
                                border-radius: 10%;
                            }
                            & li:nth-child(3){
                                width: 226/$sc+rem;
                                height: 100%;
                                background: url(../img/ma_3.jpg);
                                background-size: cover;
                                border-radius: 10%;
                            }
                        }
                        .ma_1{
                            width: 100%;
                            margin-top: 21/$sc+rem;
                            margin-left: 24/$sc+rem;
                            font-size: 18/$sc+rem;
                            color: #A0A0A0;
                            .ma_p1{
                                float: left;                                
                            }
                            .a{
                                float: left;
                                margin-left: 31/$sc+rem;
                            }
                            .ma_p2{
                                float: left;
                            }
                            .im_right{
                                float: left;
                                width: 160/$sc+rem;
                                height: 18/$sc+rem;
                                margin: 0;
                                text-align: right;
                                margin-left: 270/$sc+rem;
                                .b{
                                    float: left;
                                    margin-top: 4/$sc+rem;
                                }
                                .ma_p3{
                                    float: left;
                                    margin-left: 10/$sc+rem;
                                    font-size: 16/$sc+rem;
                                }
                                .righticon{
                                    float: left;
                                    margin-left: 28/$sc+rem;
                                }
                                .ma_p4{
                                    float: left;
                                    margin-left: 10/$sc+rem;
                                    font-size: 16/$sc+rem;
                                }
                            }
                        }
                    }
                     & li:nth-child(3){
                        width: 100%;
                        height: 221/$sc+rem;
                        border-bottom: solid 1px #e6e6e6;
                        .im_1{
                            float: left;
                            width: 226/$sc+rem;
                            height: 181/$sc+rem;
                            margin-top: 20/$sc+rem;
                            margin-left: 24/$sc+rem;
                            border-radius: 10%;
                            background: url(../img/zhi.jpg);
                            background-size: cover;
                        }
                        .im_2{
                            float: right;
                            width: 457/$sc+rem;
                            margin-right: 28/$sc+rem;
                            p{
                                width: 100%;
                                height: 86/$sc+rem;
                                font-size: 30/$sc+rem;
                                line-height: 45/$sc+rem;
                                letter-spacing: 5/$sc+rem;
                                margin-top: 37/$sc+rem;
                            }
                        }
                        .im_3{
                            float: left;
                            width: 457/$sc+rem;
                            height: 20/$sc++rem;
                            margin-top: 32/$sc+rem;
                            color: #a0a0a0;
                            margin-left: 19/$sc+rem;
                            .iconfont{
                                float: left;
                                height: 100%;  
                                font-size: 18/$sc+rem;
                            }
                            p{
                                float: left;
                                font-size: 17/$sc+rem;
                                margin-left: 8/$sc+rem;
                            }
                            .right{
                                float: left;
                                width: 160/$sc+rem;
                                height: 100%;
                                margin: 0;
                                text-align: right;
                                margin-left: 130/$sc+rem;
                                & div:first-child{
                                    float: left;
                                    margin-top: 4/$sc+rem;
                                }
                                .rightic{
                                    float: left;
                                    margin-left: 28/$sc+rem;
                                }
                                p{
                                    float: left;
                                    margin-left: 10/$sc+rem;
                                    font-size: 16/$sc+rem;
                                }
                            }
                        }
                    }
                    & li:nth-child(4){
                        width: 100%;
                        height: 221/$sc+rem;
                        border-bottom: solid 1px #e6e6e6;
                        .im_1{
                            float: left;
                            width: 226/$sc+rem;
                            height: 181/$sc+rem;
                            margin-top: 20/$sc+rem;
                            margin-left: 24/$sc+rem;
                            border-radius: 10%;
                            background: url(../img/xue.jpg);
                            background-size: cover;
                        }
                        .im_2{
                            float: right;
                            width: 457/$sc+rem;
                            margin-right: 28/$sc+rem;
                            p{
                                width: 100%;
                                height: 86/$sc+rem;
                                font-size: 30/$sc+rem;
                                line-height: 45/$sc+rem;
                                letter-spacing: 5/$sc+rem;
                                margin-top: 37/$sc+rem;
                            }
                        }
                        .im_3{
                            float: left;
                            width: 457/$sc+rem;
                            height: 20/$sc++rem;
                            margin-top: 32/$sc+rem;
                            color: #a0a0a0;
                            margin-left: 19/$sc+rem;
                            .iconfont{
                                float: left;
                                height: 100%;  
                                font-size: 18/$sc+rem;
                            }
                            p{
                                float: left;
                                font-size: 17/$sc+rem;
                                margin-left: 8/$sc+rem;
                            }
                            .right{
                                float: left;
                                width: 160/$sc+rem;
                                height: 100%;
                                margin: 0;
                                text-align: right;
                                margin-left: 98/$sc+rem;
                                & div:first-child{
                                    float: left;
                                    margin-top: 4/$sc+rem;
                                }
                                .rightic{
                                    float: left;
                                    margin-left: 28/$sc+rem;
                                }
                                p{
                                    float: left;
                                    margin-left: 10/$sc+rem;
                                    font-size: 16/$sc+rem;
                                }
                            }
                        }
                    }
                    & li:nth-child(5){
                        width: 100%;
                        height: 221/$sc+rem;
                        border-bottom: solid 1px #e6e6e6;
                        .im_1{
                            float: left;
                            width: 226/$sc+rem;
                            height: 181/$sc+rem;
                            margin-top: 20/$sc+rem;
                            margin-left: 24/$sc+rem;
                            border-radius: 10%;
                            background: url(../img/ma_1.jpg);
                            background-size: cover;
                        }
                        .im_2{
                            float: right;
                            width: 457/$sc+rem;
                            margin-right: 28/$sc+rem;
                            p{
                                width: 100%;
                                height: 86/$sc+rem;
                                font-size: 30/$sc+rem;
                                line-height: 45/$sc+rem;
                                letter-spacing: 5/$sc+rem;
                                margin-top: 37/$sc+rem;
                            }
                        }
                        .im_3{
                            float: left;
                            width: 457/$sc+rem;
                            height: 20/$sc++rem;
                            margin-top: 32/$sc+rem;
                            color: #a0a0a0;
                            margin-left: 19/$sc+rem;
                            .iconfont{
                                float: left;
                                height: 100%;  
                                font-size: 18/$sc+rem;
                            }
                            p{
                                float: left;
                                font-size: 17/$sc+rem;
                                margin-left: 8/$sc+rem;
                            }
                            .right{
                                float: left;
                                width: 160/$sc+rem;
                                height: 100%;
                                margin: 0;
                                text-align: right;
                                margin-left: 130/$sc+rem;
                                & div:first-child{
                                    float: left;
                                    margin-top: 4/$sc+rem;
                                }
                                .rightic{
                                    float: left;
                                    margin-left: 28/$sc+rem;
                                }
                                p{
                                    float: left;
                                    margin-left: 10/$sc+rem;
                                    font-size: 16/$sc+rem;
                                }
                            }
                        }
                    }  
                }
            }
        }
    }
}