$sc:50;
@font-face {
  font-family: 'iconfont';
  src: url('../img/font/iconfont.eot');
  src: url('../img/font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../img/font/iconfont.woff') format('woff'),
  url('../img/font/iconfont.ttf') format('truetype'),
  url('../img/font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
    body{
        @extend html;
        background: #f4f4f4;
        header{
            width: 100%;
            height: 88/$sc+rem;
            background: #148ad2;
            div{
                font-size: 37/$sc+rem;
                float: left;
                margin-top: 28/$sc+rem;
                margin-left: 24/$sc+rem;
                color: #FFFFFF;
            }
            p{
                float: left;
                font-size: 30/$sc+rem;
                color: #FFFFFF;
                margin-top: 28/$sc+rem;
                margin-left: 252/$sc+rem;
            }
        }
        section{
            width: 100%;
            & ul:nth-child(1){
                background: #FFFFFF;
                margin-top: 20/$sc+rem;
                width: 100%;
                height: 213/$sc+rem;
                list-style: none;
                li{
                    width: 100%;
                    height:106/$sc+rem;
                    &:nth-child(1){
                        border-bottom: 1/$sc+rem solid #e6e6e6;
                    }
                    p{
                        float: left;
                        font-size: 28/$sc+rem;
                        margin-top: 39/$sc+rem;
                        margin-left: 75/$sc+rem;
                    }
                    .btn{
                        width: 76/$sc+rem;
                        height: 38/$sc+rem;
                        border-radius: 20/$sc+rem;
                        background: #148ad2;
                        float: right;
                        margin-top: 34/$sc+rem;
                        margin-right: 24/$sc+rem;
                        position: relative;
                        span{
                            width:38/$sc+rem;
                            height: 38/$sc+rem;
                            border-radius: 50%;
                            background: #ffffff ;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
            & ul:nth-child(2){
                background: #FFFFFF;
                margin-top: 20/$sc+rem;
                width: 100%;
                height: 320/$sc+rem;
                list-style: none;
                & li:nth-child(1){
                    width: 100%;
                    height:106/$sc+rem;
                    &:nth-child(1),&:nth-child(2){
                        border-bottom: 1/$sc+rem solid #e6e6e6;
                    }
                    & p:nth-child(1){
                        float: left;
                        font-size: 28/$sc+rem;
                        margin-top: 39/$sc+rem;
                        margin-left: 75/$sc+rem;
                    }
                    input{
                        width: 414/$sc+rem;
                        height: 5/$sc+rem;
                        border-radius: 50%;
                        background: lightblue;
                        margin-left: 110/$sc+rem;
                        position: relative;
                    }
                    input[type=range]{
                        -webkit-appearance: none;
                        border-radius: 10%;
                       }
                    input[type=range]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                       }
                    input[type=range]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 25/$sc+rem;
                        width: 25/$sc+rem;
                        background:#148ad2 ;
                        border-radius: 50%;
                        border: solid 10/$sc+rem #148ad2;
                        box-shadow: 0 10/$sc+rem 10/$sc+rem #148ad2;
                    }
                    .p_1{
                        font-size: 28/$sc+rem;
                        position: absolute;
                        left: 36%;
                        color: #148AD2;
                       
                    }
                    .p_2{
                        font-size: 28/$sc+rem;
                        position: absolute;
                        right: 4%;
                        color: #148AD2;
                    }
                }
                & li:nth-child(2){
                    width: 100%;
                    height:106/$sc+rem;
                    border-bottom: 1/$sc+rem solid #e6e6e6;
                    & p:nth-child(1){
                        float: left;
                        font-size: 28/$sc+rem;
                        margin-top: 39/$sc+rem;
                        margin-left: 75/$sc+rem;
                    }
                    input{
                        width: 325/$sc+rem;
                        height: 5/$sc+rem;
                        border-radius: 50%;
                        background: lightblue;
                        margin-left: 110/$sc+rem;
                        position: relative;
                    }
                    input[type=range]{
                        -webkit-appearance: none;
                        border-radius: 10px;
                       }
                    input[type=range]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                       }
                    input[type=range]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 25/$sc+rem;
                        width: 25/$sc+rem;
                        background:#148ad2 ;
                        border-radius: 50%;
                        border: solid 0.125rem #148ad2;
                        box-shadow: 0 .1rem .1rem #148ad2;
                    }
                    button{
                        float: right;
                        width: 86/$sc+rem;
                        height: 42/$sc+rem;
                        color: #FFFFFF;
                        background: #148AD2;
                        border: 1px solid transparent;
                        border-radius: 20%;
                        margin-top: 36/$sc+rem;
                        margin-right: 24/$sc+rem;
                    }
                }
                & li:nth-child(3){
                    width: 100%;
                    height:106/$sc+rem;
                    & p:nth-child(1){
                        float: left;
                        font-size: 28/$sc+rem;
                        margin-top: 39/$sc+rem;
                        margin-left: 75/$sc+rem;
                    }
                }
            }
             & ul:nth-child(3){
                background: #FFFFFF;
                margin-top: 20/$sc+rem;
                width: 100%;
                height: 213/$sc+rem;
                list-style: none;
                li{
                    width: 100%;
                    height:106/$sc+rem;
                    &:nth-child(1){
                        border-bottom: 1/$sc+rem solid #e6e6e6;
                    }
                    & p:nth-child(1){
                        float: left;
                        font-size: 28/$sc+rem;
                        margin-top: 39/$sc+rem;
                        margin-left: 75/$sc+rem;
                    }
                    & p:nth-child(2){
                        float: right;
                        font-size: 28/$sc+rem;
                        margin-top: 39/$sc+rem;
                        margin-right: 24/$sc+rem;
                    }
                    div{
                        float: right;
                        font-size: 28/$sc+rem;
                        margin-right: 24/$sc+rem;
                        margin-top: 39/$sc+rem;
                    }
                }
            }
        }
        .footer{
            width: 499/$sc+rem;
            height: 79/$sc+rem;
            background: #148AD2;
            color: #FFFFFF;
            font-size: 28/$sc+rem;
            text-align: center;
            line-height: 79/$sc+rem;
            border-radius: 4%;
            margin-left: 125/$sc+rem;
            margin-top: 115/$sc+rem;
        }
    }
}