@font-face { font-family: 'iconfont'; src: url("../img/font/iconfont.eot"); src: url("../img/font/iconfont.eot?#iefix") format("embedded-opentype"), url("../img/font/iconfont.woff") format("woff"), url("../img/font/iconfont.ttf") format("truetype"), url("../img/font/iconfont.svg#iconfont") format("svg"); }
.iconfont { font-family: "iconfont" !important; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

* { margin: 0; padding: 0; }

html, html body { width: 100%; height: 100%; }
html body { background: #f4f4f4; }
html body header { width: 100%; height: 1.76rem; background: #148ad2; }
html body header div { font-size: 0.74rem; float: left; margin-top: 0.56rem; margin-left: 0.48rem; color: #FFFFFF; }
html body header p { float: left; font-size: 0.6rem; color: #FFFFFF; margin-top: 0.56rem; margin-left: 5.04rem; }
html body section { width: 100%; }
html body section ul:nth-child(1) { background: #FFFFFF; margin-top: 0.4rem; width: 100%; height: 4.26rem; list-style: none; }
html body section ul:nth-child(1) li { width: 100%; height: 2.12rem; }
html body section ul:nth-child(1) li:nth-child(1) { border-bottom: 0.02rem solid #e6e6e6; }
html body section ul:nth-child(1) li p { float: left; font-size: 0.56rem; margin-top: 0.78rem; margin-left: 1.5rem; }
html body section ul:nth-child(1) li .btn { width: 1.52rem; height: 0.76rem; border-radius: 0.4rem; background: #148ad2; float: right; margin-top: 0.68rem; margin-right: 0.48rem; position: relative; }
html body section ul:nth-child(1) li .btn span { width: 0.76rem; height: 0.76rem; border-radius: 50%; background: #ffffff; position: absolute; top: 0; right: 0; }
html body section ul:nth-child(2) { background: #FFFFFF; margin-top: 0.4rem; width: 100%; height: 6.4rem; list-style: none; }
html body section ul:nth-child(2) li:nth-child(1) { width: 100%; height: 2.12rem; }
html body section ul:nth-child(2) li:nth-child(1):nth-child(1), html body section ul:nth-child(2) li:nth-child(1):nth-child(2) { border-bottom: 0.02rem solid #e6e6e6; }
html body section ul:nth-child(2) li:nth-child(1) p:nth-child(1) { float: left; font-size: 0.56rem; margin-top: 0.78rem; margin-left: 1.5rem; }
html body section ul:nth-child(2) li:nth-child(1) input { width: 8.28rem; height: 0.1rem; border-radius: 50%; background: lightblue; margin-left: 2.2rem; position: relative; }
html body section ul:nth-child(2) li:nth-child(1) input[type=range] { -webkit-appearance: none; border-radius: 10%; }
html body section ul:nth-child(2) li:nth-child(1) input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; }
html body section ul:nth-child(2) li:nth-child(1) input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; height: 0.5rem; width: 0.5rem; background: #148ad2; border-radius: 50%; border: solid 0.125rem #148ad2; box-shadow: 0 .125rem .125rem #148ad2; }
html body section ul:nth-child(2) li:nth-child(1) .p_1 { font-size: 0.56rem; position: absolute; left: 36%; color: #148AD2; }
html body section ul:nth-child(2) li:nth-child(1) .p_2 { font-size: 0.56rem; position: absolute; right: 4%; color: #148AD2; }
html body section ul:nth-child(2) li:nth-child(2) { width: 100%; height: 2.12rem; border-bottom: 0.02rem solid #e6e6e6; }
html body section ul:nth-child(2) li:nth-child(2) p:nth-child(1) { float: left; font-size: 0.56rem; margin-top: 0.78rem; margin-left: 1.5rem; }
html body section ul:nth-child(2) li:nth-child(2) input { width: 6.5rem; height: 0.1rem; border-radius: 50%; background: lightblue; margin-left: 2.2rem; position: relative; }
html body section ul:nth-child(2) li:nth-child(2) input[type=range] { -webkit-appearance: none; border-radius: 10px; }
html body section ul:nth-child(2) li:nth-child(2) input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; }
html body section ul:nth-child(2) li:nth-child(2) input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; height: 0.5rem; width: 0.5rem; background: #148ad2; border-radius: 50%; border: solid 0.125rem #148ad2; box-shadow: 0 .1rem .1rem #148ad2; }
html body section ul:nth-child(2) li:nth-child(2) button { float: right; width: 1.72rem; height: 0.84rem; color: #FFFFFF; background: #148AD2; border: 1px solid transparent; border-radius: 20%; margin-top: 0.72rem; margin-right: 0.48rem; }
html body section ul:nth-child(2) li:nth-child(3) { width: 100%; height: 2.12rem; }
html body section ul:nth-child(2) li:nth-child(3) p:nth-child(1) { float: left; font-size: 0.56rem; margin-top: 0.78rem; margin-left: 1.5rem; }
html body section ul:nth-child(3) { background: #FFFFFF; margin-top: 0.4rem; width: 100%; height: 4.26rem; list-style: none; }
html body section ul:nth-child(3) li { width: 100%; height: 2.12rem; }
html body section ul:nth-child(3) li:nth-child(1) { border-bottom: 0.02rem solid #e6e6e6; }
html body section ul:nth-child(3) li p:nth-child(1) { float: left; font-size: 0.56rem; margin-top: 0.78rem; margin-left: 1.5rem; }
html body section ul:nth-child(3) li p:nth-child(2) { float: right; font-size: 0.56rem; margin-top: 0.78rem; margin-right: 0.48rem; }
html body section ul:nth-child(3) li div { float: right; font-size: 0.56rem; margin-right: 0.48rem; margin-top: 0.78rem; }
html body .footer { width: 9.98rem; height: 1.58rem; background: #148AD2; color: #FFFFFF; font-size: 0.56rem; text-align: center; line-height: 1.58rem; border-radius: 4%; margin-left: 2.5rem; margin-top: 2.3rem; }

/*# sourceMappingURL=set.css.map */
